.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 353px;
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  color: #212121;
  margin: 0;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__like-btn {
  background-image: url(../images/spots-images/like_icon.svg);
  width: 24px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 223px;
    font-size: 20px;
    margin: 8px 0;
    line-height: 100%;
  }

  .card__like-btn {
    width: 20px;
    height: 16px;
  }

  .card__content {
    gap: 8px;
  }
}